html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: 'Noto Sans Japanese', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

main {
  border-bottom: 1px solid #e2e2e2;
}

.img-flex {
  display: block;
  width: 100%;
}

h1 {
  text-align: center;
}

nav,
a {
  text-decoration: underline;
  color: #b64c6e;
}

.btn {
  background-color: none;
}

.btn:hover {
  background-color: #860927;
}

.quote {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

.btn {
  color: #b64c6e;
  border-color: #b64c6e;
}
