html {
  box-sizing: border-box;

  font-family: 'Noto Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

main {
  border-bottom: 1px solid #e2e2e2;
}

.img-flex {
  display: block;
  width: 100%;
}

.font-ja {
  font-family: "Noto Sans Japanese", sans-serif;
}

h1 {
  text-align: center;
}

nav,
a {
  text-decoration: underline;
  color: #b64c6e;
}

.btn-ghost {
  background-color: #f2f2f2;
}

a:hover {
  background-color: #d89fb0;
  border: #d89fb0;
}

.quote {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

.btn {
  color: #b64c6e;
  border-color: #b64c6e;
}
