html {
  font-family: "Noto Sans", sans-serif;
}

main {
  border-bottom: 1px solid #e2e2e2;
}

.font-ja {
  font-family: "Noto Sans Japanese", sans-serif;
}

h1 {
  text-align: center;
}

nav,
a {
  text-decoration: none;
  color: #b64c6e;
}

a {
  border-bottom: 1px solid #b64c6e;
}

.nav-links:hover {
  background-color: #860927;
  color: #f2f2f2;
}

.btn-ghost:hover {
  background-color: #b64c6e;
  border: #b64c6e;
}

.quote {
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
}

.btn-ghost {
  color: #b64c6e;
  border-color: #d89fb0;
  border: 2px solid #d89fb0;
}

.section-img {
  height: 100%;
  overflow: hidden;
}

blockquote {
  max-width: 25em;
  margin: 0 auto;
}

@media only screen and (min-width: 60em) {

  h1 {
    text-align: left;
  }

  nav {
    text-align: right;
    padding-top: 2em;
  }
}
